@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,greek-ext,vietnamese);
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #666666;
	line-height: 18px;
	text-rendering: optimizeLegibility;
	background-color: #f3f3f3;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}
.page-header {
	vertical-align: middle;
	margin: 0px 0;
	padding: 15px 0px;
	border-bottom: none;
	background-color: #ffffff;
	margin-bottom: 15px;
	border-bottom: 1px solid #e8e8e8;
	height: 66px;
}
.page-header h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 22px;
	color: #373737;
	display: inline-block;
	margin-bottom: 0px;
}
.breadcrumb {
	display: inline-block;
	background: none;
	margin: 0;
	padding: 0 10px;
}
.breadcrumb li a {
	color: #999999;
	font-size: 11px;
	padding: 0px;
	margin: 0px;	
}
.breadcrumb li:last-child a {
	color: #1e91cf;
}
.breadcrumb li a:hover {
	text-decoration: none;
}
.breadcrumb li + li:before {
	content: "/";
	font-family: FontAwesome;
	color: #BBBBBB;
	padding: 0 5px;	
}
a:hover, a:focus {
	text-decoration: none;
}
/* fix for bootstrap hidden and visible */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}
#container {
	min-height: 100%;
	width: 100%;
	position: relative;
}
.container-fluid {
	padding-left: 15px;
	padding-right: 13px;
}
#header {
	min-height: 0px;
	background: #FFFFFF;
	border-bottom: 1px solid #E5E5E5;
	margin: 0;
	padding: 0;
}
#header .nav > li {
	float: left;
}
#header .nav > li li {
	min-width: 200px;
}
#header .navbar-header {
	min-height: 0px;
	padding: 0;
}
/* Mobile */
@media (max-width: 767px) {
#header .navbar-header {
	margin-right: 0px;
	margin-left: 0px;
	float: left;
}
}
#header #button-menu + .navbar-brand {
	padding: 10px 10px 10px 10px;
	margin-right: 10px;
	height: auto;
}
#header .nav > li > a {
	padding: 3px 16px;
	line-height: 38px;
	cursor: pointer;
	color: #6D6D6D;
	border-left: 1px solid #E1E1E1;
}
#header .nav > li > a > .label {
	text-shadow: none;
	padding: 1px 4px;
	position: absolute;
	top: 8px;
	left: 6px;
}

#profile {
	display: none;
}
#column-left.active #profile {
	display: block;
	padding: 10px 15px 10px 15px;
	overflow: auto;
	background-color:#6bb9e2;
}
#profile div {
	float: left;
	color: #fff;
	padding: 10px;
	margin: -5px 0px -15px -10px;
	overflow: hidden;
}
#profile div.img{
	background-color: #515151;
	border-radius: 100% 100% 0 0;
}
#profile div + div {
	margin-left: 15px;
}
#profile h4 {
	margin-top: 6px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #FFF;
	margin-bottom: 0;
}
#column-left {
	width: 50px;
	height: 100%;
	background-color: #515151;
	position: absolute;
	top: 0px;
	z-index: 10;
	transition: all 0.3s;
}
#column-left.active {
	width: 235px;
	display: block;
}
#content {
	padding-bottom: 40px;
	transition: all 0.3s;
}
#column-left + #content {
	margin-left: 50px;
}
#column-left + #content + #footer {
	margin-left: 50px;
}
/* Mobile */
@media (max-width: 767px) {
#column-left {
	overflow: hidden;
	display: none;
}
#column-left + #content {
	margin-left: 0;
}
#column-left + #content + #footer {
	margin-left: 0;
}
}
/* Menu */
#menu, #menu ul, #menu li {
	padding: 0;
	margin: 0;
	list-style: none;
}
#menu {
	margin-bottom: 25px;
}
#menu > li {
	position: relative;
}
#menu li a {
	text-decoration: none;
	display: block;
	padding: 14px 10px;
	cursor: pointer;
	border-bottom: 1px solid #515151;
}
#menu li a i {
	font-size: 16px;
}
#menu > li > a {
	color: #C4C4C4;
	font-size: 14px;	
	padding-left: 13px;
	border-bottom: 1px solid #585858;
}
#menu > li > a:hover {
	background-color: #444444;
}
#menu > li > a > span {
	display: none;
	margin-left: 8px;
}
#menu li li a {
	color: #9d9d9d;
}
#menu li li a:hover {
	color: #FFFFFF;
	background-color: #373737;
}
#menu li li a:before {
	content: "\f101";
	font-size: 14px;
	font-family: FontAwesome;
	margin-left: 10px;
	margin-right: 10px;
	transition: margin ease 0.5s;	
}
#menu li li a:hover:before {
	margin-right: 20px;
}
#menu > li.active > a {
	color: #DDDDDD;
	background: #373737;
}
#menu li.active li a {
	color: #C4C4C4;
}
#menu li li.active > a:last-child {
	color: #FFFFFF;
}
#menu li li.active a:last-child:before {
	margin-left: 20px;
	margin-right: 10px;
}

#menu > li > ul {
	position: absolute;
	left: 50px;
	top: 0px;
	width: 210px;
	background-color: #444444;
	visibility: hidden;
}
#menu li ul {
	overflow: hidden;
}
#menu > li:hover > ul {
	visibility: visible;
}
#menu li li a.parent:after, #column-left.active #menu > li a.parent:after {
	font-family: FontAwesome;
	content: "\f105";
	float: right;
	margin-right: 8px;
}
#menu li li.open > a.parent:after, #column-left.active #menu > li.open > a.parent:after {
	font-family: FontAwesome;
	content: "\f107";
	float: right;
	margin-right: 8px;
}


#menu li ul a {
	padding-left: 20px;
}
#menu li li ul a {
	padding-left: 40px;
}
#menu li li li ul a {
	padding-left: 60px;
}
#menu li li li li ul a {
	padding-left: 80px;
}

/* Menu Active */
/* Desktop */
@media (min-width: 768px) {
#column-left.active {
	overflow: auto;
}
#column-left.active + #content {
	margin-left: 250px;
}
#column-left.active + #content + #footer {
	margin-left: 250px;
}
}
/* Mobile */
@media (max-width: 767px) {
#column-left.active + #content {
	position: relative;
	left: 250px;
}
#column-left.active + #content + #footer {
	position: relative;
	left: 250px;
}
}
#column-left.active {
	width: 250px;
}
#column-left.active #menu li i {
	font-size: 14px;
}
#column-left.active #menu > li > a > span {
	display: inline;
}
#column-left.active #menu > li > ul {
	position: relative;
	left: auto;
	top: auto;
	width: auto;
	visibility: visible;
}
/* footer */
#footer {
	height: 100px;
	text-align: center;
}



/* Navs */
.nav > li.disabled > a {
	color: #999;
}
.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
	color: #999;
}
/* Tabs */
.nav-tabs > li > a {
	color: #666;
	border-radius: 0;
	margin: 0px;
}

.nav-tabs {
	margin-bottom: 15px;
	margin-top: 0px;
	background-color: #fcfcfc;
	border-top: 1px solid #fcfcfc;
	border-bottom: 1px solid #e4e4e4;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	font-weight: bold;
	color: #333;
}
.form-control:hover {
	border: 1px solid #b9b9b9;
	border-top-color: #a0a0a0;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
div.required .control-label:not(span):before, td.required:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
	right: 0px;
	position: absolute;
}
.table thead td span[data-toggle="tooltip"]:after, label.control-label span:after {
	font-family: FontAwesome;
	color: #1E91CF;
	content: "\f059";
	margin-left: 4px;
}
fieldset legend {
	padding-bottom: 5px;	
}

input[type="radio"], input[type="checkbox"] {
	margin: 2px 0 0;
}
.radio, .checkbox {
	min-height: 18px;
}
input[type="radio"], .radio input[type="radio"], .radio-inline input[type="radio"], input[type="checkbox"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	position: relative;
	width: 13px;
	width: 16px \0;
	height: 13px;
	height: 16px \0;
	-webkit-appearance: none;
	background: white;
	border: 1px solid #dcdcdc;
	border: 1px solid transparent \0;
	border-radius: 1px;
}
input[type="radio"]:focus, .radio input[type="radio"]:focus, .radio-inline input[type="radio"]:focus, input[type="checkbox"]:focus, .checkbox input[type="checkbox"]:focus, .checkbox-inline input[type="checkbox"]:focus {
	border-color: #4d90fe;
	outline: 0;
}
input[type="radio"]:active, .radio input[type="radio"]:active, .radio-inline input[type="radio"]:active, input[type="checkbox"]:active, .checkbox input[type="checkbox"]:active, .checkbox-inline input[type="checkbox"]:active {
	background-color: #ebebeb;
	border-color: #c6c6c6;
}
input[type="radio"]:checked, .radio input[type="radio"]:checked, .radio-inline input[type="radio"]:checked, input[type="checkbox"]:checked, .checkbox input[type="checkbox"]:checked, .checkbox-inline input[type="checkbox"]:checked {
	background: #fff;
}
input[type="radio"], .radio input[type="radio"], .radio-inline input[type="radio"] {
	width: 15px;
	width: 18px \0;
	height: 15px;
	height: 18px \0;
	border-radius: 1em;
}
input[type="radio"]:checked::after, .radio input[type="radio"]:checked::after, .radio-inline input[type="radio"]:checked::after {
	position: relative;
	top: 3px;
	left: 3px;
	display: block;
	width: 7px;
	height: 7px;
	content: '';
	background: #666;
	border-radius: 1em;
}
input[type="checkbox"]:hover, .checkbox input[type="checkbox"]:hover, .checkbox-inline input[type="checkbox"]:hover {
	border-color: #c6c6c6;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
	-webkit-box-shadow: none \9;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
	box-shadow: none \9;
}
input[type="checkbox"]:checked::after, .checkbox input[type="checkbox"]:checked::after, .checkbox-inline input[type="checkbox"]:checked::after {
	position: absolute;
	top: -6px;
	left: -5px;
	display: block;
	content: url('../image/checkmark.png');
}

.table thead td {
	font-weight: bold;
}
.table thead > tr > td, .table tbody > tr > td {
	vertical-align: middle;
}
.table a.asc:after {
	content: " \f107";
	font-family: FontAwesome;
	font-size: 14px;
}
.table a.desc:after {
	content: " \f106";
	font-family: FontAwesome;
	font-size: 14px;
}

.pagination {
	margin: 0;
}

/* Panels */
.panel {
	border-radius: 0px;
}
.panel .panel-heading {
	position: relative;
}
.panel-heading h3 i {
	margin-right: 8px;	
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.panel-heading i {
	font-size: 16px;
	font-weight: 500;	
}
.panel-heading h3 {
	font-size: 16px;
	font-weight: 500;
	display: inline-block;
}

/* Primary Panel */
.panel-primary {
	border: 1px solid #c3e4f6;
	border-top: 2px solid #5cb7e7;
}

.panel-primary .panel-heading {
	color: #1e91cf;
	border-color: #96d0f0;
	background: white;
}


/* Default Panel */
.panel-default {
	border: 0px solid #e8e8e8;

}

.panel-default .panel-heading {
	color: #000000;
	border-color: #e8e8e8;
	background: #fff;
	border-bottom: 1px solid #eee;
}
.img-thumbnail i {
	color: #FFFFFF;
	background-color: #EEEEEE;
	text-align: center;
	vertical-align: middle;
	width: 100px;
	height: 100px;
	padding-top: 20px;
	vertical-align: middle;
	display: inline-block;
}
.img-thumbnail.list i {
	width: 40px;
	height: 40px;
	padding-top: 10px;
}
/* Tiles */
.tile {
	margin-bottom: 15px;
	border-radius: 3px;
	background-color: #279FE0;
	color: #FFFFFF;
	transition: all 1s;
}
.tile:hover {
	opacity: 0.95;
}

.tile a {
	color: #FFFFFF;
}
.tile-heading {
	padding: 5px 8px;
	text-transform: uppercase;
	background-color: #1E91CF;
	color: #FFF;
}
.tile .tile-heading .pull-right {
	transition: all 1s;	
	opacity: 0.7;
}
.tile:hover .tile-heading .pull-right {
	opacity: 1;
}
.tile-body {
	padding: 15px;
	color: #FFFFFF;
	line-height: 48px;	
}
.tile .tile-body i {
	font-size: 50px;
	opacity: 0.3;
	transition: all 1s;
}
.tile:hover .tile-body i {
	color: #FFFFFF;
	opacity: 1;
}
.tile .tile-body h2 {
	font-size: 42px;
}
.tile-footer {
	padding: 5px 8px;
	background-color: #3DA9E3;
}
#column-left.active #stats {
	display: block;
} 
#stats {
	display: none;
	border-radius: 2px;
	color: #666666;
	background: #2b2b2b;
	margin: 15px 20px;
	padding: 5px 0;
}
#stats ul, #stats li {
	padding: 0;
	margin: 0;
	list-style: none;
}
#stats li {
	font-size: 11px;
	color: #9d9d9d;
	padding: 5px 10px;
	border-bottom: 1px dotted #373737;
} 
#stats div:first-child {
	margin-bottom: 4px;
}
#stats .progress {
	height: 3px;
	margin-bottom: 0;
}
.jqvmap-label {
	z-index: 999;
}

/* Menu Fix For System -> Layout -> Banner */
.collapse.in {
    display: block;
    visibility: unset;
}
.collapse {
    display: none;
    visibility: unset;
}
/* Menu Fix For System -> Layout -> Banner */

.row-custom:after{
	content: " ";
	display: table;
}
.row-custom .panel.panel-default{
	padding:0px;
	margin-left: -1px;
}


#column-left::-webkit-scrollbar {
	width: 0px;
	transition: all ease 0.5s;
}
#column-left:hover::-webkit-scrollbar {
	width: 6px!important;
}
#column-left::-webkit-scrollbar-thumb {
	background-color: rgba(241, 241, 241, 0.7);
	transition: all ease 0.5s;
	margin-right: -10px;
}

#column-left::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	transition: all ease 0.5s;
}
#product-category.well.well-sm,#product-related.well.well-sm,#product-tag.well.well-sm,#information-tags.well.well-sm{
	height: auto!important;
}
#product-category.well.well-sm>div,#product-related.well.well-sm>div,#product-tag.well.well-sm>div,#information-tags.well.well-sm>div{
	display: inline-block;
	border-radius: 30px;
	padding: 5px 7px;
	background-color: #1e91cf;
	color: #fff;
	margin-right: 5px;
}

fieldset{
	margin-top: 20px;
}
legend{
	font-size: 16px;
	cursor: pointer;
	padding: 10px 0 10px 25px;
	position: relative;
}
legend:before{
	content: "+";
	position: absolute;
	left: 0px;
	top: 10px;
	padding: 1px 5px;
	color: #fff;
	background-color: #1e91cf;
}


.alert {
	border: 0;
	border-radius: 0;
	position: relative;
	padding: 20px 15px;
	line-height: 20px;
}
.alert b {
	font-weight: 500;
	text-transform: uppercase;
	font-size: 12px;
}
.alert, .alert.alert-default {
	background-color: white;
	color: #555555;
	border-radius: 3px;
}
.alert a, .alert .alert-link, .alert.alert-default a, .alert.alert-default .alert-link {
	color: #555555;
}
.alert.alert-inverse {
	background-color: #2e2e2e;
	color: #fff;
	border-radius: 3px;
}
.alert.alert-inverse a, .alert.alert-inverse .alert-link {
	color: #fff;
}
.alert.alert-primary {
	background-color: #af2cc5;
	color: #ffffff;
	border-radius: 3px;
}
.alert.alert-primary a, .alert.alert-primary .alert-link {
	color: #ffffff;
}
.alert.alert-success {
	background-color: #5cb860;
	color: #ffffff;
	border-radius: 3px;
	/*  width: 1023px;
      margin-left: 12px;*/
}
.alert.alert-success a, .alert.alert-success .alert-link {
	color: #ffffff;
}
.alert.alert-info {
	background-color: #00d3ee;
	color: #ffffff;
	border-radius: 3px;
}
.alert.alert-info a, .alert.alert-info .alert-link {
	color: #ffffff;
}
.alert.alert-warning {
	background-color: #ffa21a;
	color: #ffffff;
	border-radius: 3px;
}
.alert.alert-warning a, .alert.alert-warning .alert-link {
	color: #ffffff;
}
.alert.alert-danger {
	background-color: #f55a4e;
	color: #ffffff;
	border-radius: 3px;
}
.alert.alert-danger a, .alert.alert-danger .alert-link {
	color: #ffffff;
}
.alert.alert-rose {
	background-color: #eb3573;
	color: #ffffff;
	border-radius: 3px;
}
.alert.alert-rose a, .alert.alert-rose .alert-link {
	color: #ffffff;
}
.alert-info, .alert-danger, .alert-warning, .alert-success {
	color: #ffffff;
}
.alert-default a, .alert-default .alert-link {
	color: rgba(0,0,0, 0.87);
}
.alert i[data-notify="icon"] {
	font-size: 30px;
	display: block;
	left: 15px;
	position: absolute;
	top: 50%;
	margin-top: -15px;
}
.alert span {
	display: block;
	max-width: 89%;
}
.alert .alert-icon {
	display: block;
	float: left;
	margin-right: 15px;
}
.alert .alert-icon i {
	margin-top: -7px;
	top: 5px;
	position: relative;
}

.alert.alert-with-icon {
	padding-left: 65px;
}
.inner-list-module{
	border-radius: 0px;
	padding:5px;
	border:1px solid #eee;
	margin-bottom: 20px;
	position: relative;
	background-color: #fff;
	height: 130px;
	box-shadow: 2px 1px 6px -4px #c1c7d0;
	transition: box-shadow 0.3s ease-in-out;
	-webkit-transition: box-shadow 0.3s ease-in-out;
}
.child-module{
	border-radius: 0px;
	padding: 15px 10px;
	border: 1px solid #eee;
	margin-bottom: 10px;
	position: relative;
	background-color: #f3f3f3;

}
.inner-list-module .module-main .action-module{
	position: absolute;
	right: 5px;
	top: 5px;
}
.child-module .action-module{
	position: absolute;
	right: 10px;
	top: 12px;

}
.child-module:hover .action-module{
	display: block;
}
.inner-list-module .module-main .title .show-child {
	position: absolute;
	bottom: -6px;
	margin: auto;
	border-radius: 100%;
	background-color: #eee;
	width: 25px;
	height: 25px;
	text-align: center;
	padding-top: 10px;
	left: 0;
	right: 0;
	cursor: pointer;
	z-index: 3;
}
.list-chil-module{
	padding: 10px 10px 0px 10px;
	margin: -6px;
	margin-top: -30px;
	background-color: #fff;
	box-shadow: 2px 1px 6px -4px #c1c7d0;
	border:1px solid #eee;
	border-top: 0px;
	position: relative;
	z-index: 2;
}
.inner-list-module .module-main .title{
	font-weight: bold;
	margin-bottom: 15px;
	margin-top: -5px;
	margin-left: -5px;
	margin-right: -5px;
	background: #eee;
	color: #000;
	padding: 10px 7px;
	position: relative;
}

.inner-list-module .btn{
	padding:3px 5px;
	border-radius: 2px;
	border: 0px;
}
