/vendor/hybridauth/hybridauth/hybridauth/config.php
/system/cache
.idea/
/image/cache/
/phpmyadmin/
/database/
/admin-rooms/config.php
/database.zip
/convert-mysql-to-mongo.php
/environment.php
/config.php
/composer.json
/composer.lock
/.gitignore

