.section-list-category{
    margin-bottom: 30px;
}
.item-category{
    border-radius: 0px!important;
    /* font-weight: bold; */
    box-shadow: 0 2px 8px  -3px rgba(0,0,0,0.08);
    display: inherit;
    width: 100%;
    border: 1px solid #eee;
    padding: 10px;
}
.item-category.active{
    border-color: #c2c8ce;
}
.item-category a{
    color: #333;
}