.menu-toolbar {
    background: #fff;
}
.menu-toolbar .filter-desktop ul {
    list-style: none;
    padding: 0 0;
    margin: 0 0;
}
.menu-toolbar .filter-desktop ul li {
    float: left;

    border-bottom: 2px solid transparent;
    position: relative;
}
.menu-toolbar .filter-desktop ul li:hover a{
    color: #38a9e7;
    transition:0.5s;
}
.menu-toolbar .filter-desktop ul li a {
    display: inline-block;
    line-height:100%;
    font-size: 14px;
    color: #2d2d2d;
    padding: 20px 15px;
}
.menu-toolbar .filter-desktop ul li a:hover {
    text-decoration: none;

}
.menu-toolbar .filter-desktop ul li:hover, .menu-toolbar .filter-desktop ul li.active {
    border-bottom: 2px solid #1c95d2;
}
.menu-toolbar .filter-desktop ul li:hover ul.sub-menu, .menu-toolbar .filter-desktop ul li.active ul.sub-menu {
    display: block;
    transition: 0.5s;
}
.menu-toolbar .filter-desktop ul li ul.sub-menu {
    display: none;
    position: absolute;
    top: 58px;
    left: 0;
    z-index: 15;
    background: #fff;
    border: 1px solid #ebebeb;
}

.menu-toolbar .filter-desktop ul li ul.sub-menu li:first-child {
    font-weight: normal;
}
.menu-toolbar .filter-desktop ul li ul.sub-menu li {
    display: block;
    min-width: 260px;
    border-bottom: 1px solid #ebebeb;
    float: left;
}
.menu-toolbar .filter-desktop ul li ul.sub-menu li a {
    line-height: normal;
    height: auto;
    font-size: 14px;
    color: #7c7c7c;
    padding: 12px 10px;
    display: inherit;
}
.menu-toolbar .filter-desktop ul li ul.sub-menu li a:hover {
    color: #38a9e7;
}
.menu-toolbar .filter-desktop ul li i {
    font-size: 20px;
}
.newest-apps {
    padding: 35px 0 15px;
    background: #f1f2f3;
}
.newest-apps .app-type {
    margin-bottom: 35px;
}
.newest-apps .app-type .type-info .title {
    font-size: 30px;
    font-weight: 500;
    line-height: 55px;
}
.newest-apps .app-type .type-info .title i.icon-marketing {
    background: url(https://apps.bizweb.vn/Themes/Portal/Default/StyleNew/images/home/icon-marketing.png) no-repeat top left;
    height: 44px;
}
.newest-apps .app-type .type-info .title i {
    display: inline-block;
    width: 55px;
    margin-right: 10px;
    vertical-align: middle;
}
.newest-apps .app-type .type-info .title .url-collection {
    color: #333;
}
.newest-apps .app-type .type-info .title .url-collection:hover {
    text-decoration: none;
    color: #1c95d2;
}
.newest-apps .app-type .type-info .title .view-all {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 25px;
    font-size: 17px;
    font-weight: 500;
    color: #6a6a6a;
    border-radius: 22px;
    border: 1px solid #b7b7b7;
}
.newest-apps .app-type .type-info .abstract {
    font-size: 14px;
    color: #7c7c7c;
    line-height: 20px;
    margin: 15px 0 20px;
}
.newest-apps .app-type .list-apps .app-item {
    border: 1px solid #ececec;
    padding: 0px;
}

.newest-apps .app-type .list-apps .app-item .block-info .app-image img {
    width: 100%;
}
.newest-apps .app-type .list-apps .app-item .block-info .app-info {
    padding: 10px 10px;
    background-color: #fff;
}
.newest-apps .app-type .list-apps .app-item .block-info .app-info .title {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #2c2c2c;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.newest-apps .app-type .list-apps .app-item .block-info .app-info .price {
    display: block;
    font-size: 14px;
    color: #818181;
    line-height: 24px;
}
.newest-apps .app-type .list-apps .app-item .block-info .app-desc {
    padding: 10px;
    background: #fff;
    border-top: 1px solid #dad5cf;
}
.newest-apps .app-type .list-apps .app-item:hover .block-info {
    top: -85px;
}
@media (max-width: 767px)
{
    .newest-apps .app-type .list-apps .app-item {
        max-width: 320px;
        margin: 0 auto 15px;
        height: 174px;
    }
}

.menu-toolbar .filter-mobile {
    position: relative;
}
@media (max-width: 767px){
    .visible-xs {
        display: block !important;
    }
}
.menu-toolbar .filter-mobile .title-filter-mobile {
    display: block;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    color: #2d2d2d;
    margin-right: 5px;
}
.r{
    float: right;
    right:0;
    font-size: 30px;
}
.title-filter-mobile a{
    color: #333;
}
.menu-toolbar .filter-mobile .filter-by ul li a {
    display: block;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    color: #2d2d2d;
}
.menu-toolbar .filter-mobile .filter-by ul li i {
    font-size: 20px;
    top: 13px;
}

@media (max-width: 767px)
{
    .menu-toolbar ul li.has-child .fa-angle-down {
        position: absolute;
        right: 0;
        top: 10px;
    }
    .menu-toolbar ul li.has-child {
        position: relative;
    }
    .hidden-xs {
        display: none !important;
    }
    .menu-toolbar ul li {
        display: block;
        float: none;
        margin-right: 0;
        border-bottom: 1px solid #ebebeb;
    }
    .menu-toolbar ul li:last-child {
        border-bottom: none;
    }
    .sub-menu{
        padding: 10px !important;
    }
}
.filter-by ul{
    padding:0;
}
.filter-by li{
    list-style:none;
}
.info-app{
    background-color: #f1f1f1;
}
.title-app span{
    background-color: #ffc107;
    color: #000;
    padding: 3px 10px;
    border-radius: 3px;
    font-size: 16px;
}
.item-tag{
    color: #fff;
    background-color: #31b0d5;
    border-radius: 3px;
    padding: 3px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.price-detail{
    font-size: 22px;
    display: inline-block;
    margin: 15px 0px;
    color: #1ca4dd;
}
.app-image{
    position: relative;
}
.app-image .type-app{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0px 5px;
    line-height: 22px;
    background-color: #FFC107;
    border-radius: 1px;
    color: #000;
    font-size: 13px;
}
.button-detail-app{
    display: inherit;
    margin-top: 35px;
}