.detail-container .theme-intro {
    background-color:#fff;
    background-size: 40%;
    background-attachment: fixed;
}
.detail-container .theme-intro .theme-image {
    text-align: right;
    position: relative;
    margin-top: 25px;
    min-height: 550px;
}
/* ------------ Colum left ------------*/
.content-left-details{

    background-color: #fff;
    padding: 15px;
    margin: 46px 0px;
    border: 0px solid #eee;
    border-radius: 10px;
}
.detail-container .theme-intro h1 span {
    display: block;
    font-size: 36px;
    color: #363636;
    font-weight: 700;
    margin-top: 5px;
}

.detail-container .theme-intro h1 {
    margin: 0px 0 20px;
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
}
.detail-container .theme-intro .desc {
    font-size: 15px;
    color: #363636;
    margin-bottom: 25px;
}
.detail-container .theme-intro .other-info {
    padding-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 30px;
}
.detail-container .theme-intro .other-info .price {
    color: #1ca4dd;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
}
.detail-container .theme-intro .theme-action a {
    display: inline-block;
    border-radius: 27px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 20px;
}
.detail-container .theme-intro .theme-action .install-theme {
    color: #fff;
    background: #7fc142;
    margin-bottom: 15px;
    outline: none;
}
.detail-container .theme-intro .theme-action .view-demo {
    border: 1px solid #ccc;
    color: #525252;
    outline: none;
}
/*---------- COlum right -------------*/
.detail-container .theme-intro .theme-image .image-desktop {
    background: url(https://themes.bizweb.vn/Themes/Portal/Default/StyleNew/images/detail/bg-image-desktop-detail.png) no-repeat center center;
    width: 616px;
    background-size: cover;
    height: 550px;
    overflow: hidden;
    padding: 54px 61px 0 40px;
    position: absolute;
    bottom: 0;
    right: -45px;
}
.detail-container .theme-intro .theme-image .image-desktop img {
    width: 100%;
}
.detail-container .theme-intro .theme-image .image-mobile {
    position: absolute;
    bottom: 0;
    left: 55px;
    background: url(https://themes.bizweb.vn/Themes/Portal/Default/StyleNew/images/detail/bg-image-mobile-detail.png) no-repeat center center;
    width: 262px;
    height: 342px;
    overflow: hidden;
    padding-top: 50px;
    padding-right: 53px;
}
.detail-container .content-img-moblie{
    width: 166px;
    margin-left: 43px;
}
.detail-container .theme-intro .theme-image .image-mobile img {
    width: 166px;
}
/* ------------- Detail ----------*/
.detail-container .theme-detail {
    padding-top: 30px;
    border-top: 1px solid #ececec;
}

.detail-container .themes-related h3.title-related{
    color: #363636;
    font-size: 26px;
    margin: 0 0 30px;
}
.theme-detail h3{
    color: #363636;
    font-size: 26px;
    margin: 0px;
    margin-bottom: 10px;
}
.theme-detail .hotline-detail{
    font-size: 26px;
    color: #888888;
    padding: 10px 0px 25px 0px;
    font-weight: bold;
}
.theme-detail .hotline-detail .highlight{
    color: #31b0d5;
    border-radius: 30px;
    border: 2px solid #31b0d5;
    padding: 1px 10px;
    margin: 0px 10px;
}
.preorder-note {
    background-color: #d5fff6;
    padding: 10px;
    border-radius: 10px;
}

 /* ------------------- Tags --------------------*/
.tages{

}
.tag-list span i{
    margin-right: 3px;
}
.tag-list a{
    background-color: #1ca4dd;
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    border-radius: 5px;
    padding: 3px 10px;
    margin-bottom: 10px;
}

