body{
    font-family: 'harmonia',Arial,Helvetica,sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    margin: auto;
    transition: background-color .2s;
    background-color: #f3f3f3;
    padding:0px;
}
.inner-left{
    background-color: #00ba51;
    color:#fff;
    height: 100%;
    text-align: center;
}
#logo{
    padding: 40px;
    color:#fff;
}
#logo h1{
    font-size: 42px;
    font-weight: bold;
    color: #fff;
    margin: 5px;
}
#search-home{
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    display: inline-block;
}
#search-home li{
    float: left;
    position: relative;
}
#search-home li i{
    position: absolute;
    left: 7px;
    top:12px;
    color: #666666;
    font-size: 16px;
}
#search-home li input{
    border-radius: 0px;
    height:auto;
    font-size: 13px;
    height: 25px;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
}
#btn-s-h {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 9px 13px;
    font-size: 13px;
    border: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    height: 43px;
    color: #fff!important;
}
.item-search{
    border: 2px solid #fff;
    padding:7px 0px 7px 27px;
}
.location-home{
    margin: 5px;
}
#other-service{
    margin: 30px auto;
}
.btn-sevice-home{
    display: inline-block;
    margin: auto;
}
.btn-sevice-home .btn-home-sevice{
    background-color: #00000009;
    color: #fff;
    border-radius: 3px;
    border:1px solid #fff;
    height: 80px;
    width: 130px;
    margin-left: 10px;
    text-align: center;
    font-size: 13px;
}
.btn-sevice-home .btn-home-sevice i{
    font-size: 30px;
    display: block;
    margin: 10px auto;
}
.title-other-service{
    margin: 10px 0!important;
    color: #fff;
    font-size: 24px;
}