/*------tool-conten-----*/
.header-landingpage{
    background: url(https://www.bizweb.vn/Themes/Portal/Default/Images/newindex/index-banner-bg.png);
    background-attachment: fixed;
    background-position: center;
    margin-bottom: 90px;
}
.tool-content-title{
    padding: 40px 0px;
    text-align: center;
}
.tool-content {
    background: #fff;
    padding-bottom: 50px;

}
.tool-content-title h1 {
    font-weight: 300;
    font-size: 50px;
    margin: 0;
    color: #fff;
    margin-bottom: 17px;
}
.tool-content-title p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}
.tool-content-info .info {
    margin-bottom: 65px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.tool-content-info .info-img {
    text-align: center;
}
.tool-content-info .info-img img {
    margin: 0 auto;
}
.tool-page-3 .info:nth-child(6) .content-info {
    padding-top: 70px;
}
.tool-content-info .content-info h2 {
    font-weight: 300;
    font-size: 36px;
    margin: 0;
    margin-bottom: 10px;
}
.tool-content-info .content-info p {
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    margin-bottom: 10px;
}
.index-registration {
    background: url(https://www.bizweb.vn/Themes/Portal/Default/Images/background2.png) center center repeat;
    color: #fff;
    padding: 20px 0 45px 0;
    text-align: center;
}
.index-registration .bottom-registration {
    margin-bottom: 20px;
}
.new-registration h3.text-large {
    font-size: 30px;
}
.index-registration h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    display: block;
}
.index-registration .bottom-registration span {
    color: #fff;
    font-size: 21px;
}
.new-registration .input-site-name {
    font-size: 16px !important;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    color: #535353;
    width: 544px;
}
.input-site-name {
    border: none;
    border-radius: 31px;
    color: #535353;
    font-size: 16px;
    padding: 20px 10px 20px 20px;
    width: 60%;
}
.new-registration .btn-registration {
    margin-left: 13px;
    line-height: 48px;
    font-weight: 100;
}
.btn-registration {
    color: #fff;
    background-color: #7fc142;
    border-radius: 31px;
    display: inline-block;
    line-height: 63px;
    padding: 0 35px;
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    transition: all 150ms ease;
    -webkit-user-select: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    white-space: nowrap;
    font-size: 16px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}