.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}
#menu-main{
    background-color: #fff;
    box-shadow: 2px 0px 20px -10px #000;
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid #ececec;
}
body>.container{
    background-color: #fff;
}
.cut-text { 
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 100%; 
  white-space: nowrap;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -300px;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 90px;
    box-shadow: 2px 0 20px -10px #000;
}
#inner-body{
    transition: 0.2s;
}
.sidenav .sidenav-footer{
    padding: 20px;
    font-size: 14px;
    color: #9a9a9a;
    position: absolute;
    bottom: 0;
    line-height: 20px;
    border-top: 1px solid #eee;
    background-color: #eee;
}

.sidenav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #00ba51;
}
/* Footer */
footer{
	background-color: #eee;
	padding-top: 20px;
}
#close-location-user{
    position: absolute;
    right: 0px;
    top: -24px;
    border: 0px;
    background-color: #b7b7b7b3;
    color: #fff;
}
.header-location-user{
    margin: -15px;
    margin-bottom: 30px;
    height: 131px;
    background: url(https://propzy.vn/assets/modules/landingpages-mkt/real_estate_private/images/bg-title-popup.jpg);
    background-size: cover;
    color: #fff;
    font-size: 22px;
}
.city-location-show{
    display: block;
    line-height: 14px;
    font-size: 13px;
    font-weight: bold;
}
.district-location-show{
    display: block;
    font-size: 12px;
}
body.common-home .city-location-show, body.common-home .district-location-show{
    display: inherit;
}




