.page-layout-box{
    padding-top: 10px;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}
body>.page-layout-box{
    background-color: #fff;
}
.before-background{
    position: relative;
}
.before-background:before{
    content: "";
    position: absolute!important;
    background: url(/public/assets/images/icons/svg-icons.svg) no-repeat transparent;
}
.cut-text { 
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 100%; 
  white-space: nowrap;
}
/* Footer */
footer{
    background-color:#f9f9f9;
    padding-top: 20px;
    color: #7a7a7a;
    font-size: 14px;
    margin-top: 20px;
    border-top: 1px solid #dedddd;
}
#close-location-user{
    position: absolute;
    right: 0px;
    top: -24px;
    border: 0px;
    background-color: #b7b7b7b3;
    color: #fff;
}
.header-location-user{
    margin: -15px;
    margin-bottom: 30px;
    height: 131px;
    background: url(https://propzy.vn/assets/modules/landingpages-mkt/real_estate_private/images/bg-title-popup.jpg);
    background-size: cover;
    color: #fff;
    font-size: 22px;
}

.pac-container{
    width: 505px!important;
}
.pac-logo:after{
    display: none!important;
}
.pac-item {
    cursor: default;
    padding: 0 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 37px;
    text-align: left;
    border-top: 1px solid #e6e6e6;
    font-size: 13px!important;
    color: #999;
}


@-webkit-keyframes pulse-shadow--collection{
    0%{
        -webkit-box-shadow:0 0;
        box-shadow:0 0;
        background-color: #4d86f9;
    }
    70%{
        -webkit-box-shadow:0 0 5px 10px #03a9f485;
        box-shadow:0 0 5px 10px #03a9f485;
        background-color:#7cd2f9;
    }
    100%{
        -webkit-box-shadow:0 0 0 0 #03a9f485;
        box-shadow:0 0 0 0 #03a9f485;
        background-color:#fff;
    }
}
@keyframes pulse-shadow--collection{
    0%{
        -webkit-box-shadow:0 0 #03a9f485;
        box-shadow:0 0 #03a9f485;
        background-color: #2196F3;
    }
    70%{
        -webkit-box-shadow:0 0 5px 10px #03a9f485;
        box-shadow:0 0 5px 10px #03a9f485;
        background-color: #2d506d;
    }
    100%{
        -webkit-box-shadow:0 0 0 0 #03a9f485;
        box-shadow:0 0 0 0 #03a9f485;
        background-color:#fff;
    }
}





